{if empty($label)}
    {var label => $label|humanize}
{/if}
{var class => isset($attr['class']) ? $attr['class']}
{? unset($attr['class'])}
<button type="{isset($type) ? $type : button}"
    id="{$id}"
    name="{$full_name}"
    n:attr="(expand) $attr"
    n:class="$class ?: 'btn btn-default'">{$label}</button>
