{var class => isset($attr['class']) ? $attr['class']}
{? unset($attr['class'])}
<input type="checkbox"
    id="{$id}"
    name="{$full_name}"
    n:attr="
        (expand) $attr,
        readonly => $read_only ? readonly,
        disabled => $disabled ? disabled,
        required => $required ? required,
        maxlength => $max_length,
        pattern => $pattern,
        value => $value,
        checked => $checked ? checked"
    n:class="$class !== null ? $class : form-control"
/>
