{var method => $method|upper}
{var form_method => in_array($method, ['GET', 'POST']) ? $method : 'POST'}
{var class => isset($attr['class']) ? $attr['class']}
{? unset($attr['class'])}
<form method="{$form_method|lower}" action="{$action}"
    n:attr="
        (expand) $attr,
        enctype => $multipart ? 'multipart/form-data'
    " n:class="$class">
    <input n:if="$form_method != $method" type="hidden" name="_method" value="{$method}" />
