{var type => isset($type) ? $type : text}
{var class => isset($attr['class']) ? $attr['class']}
{? unset($attr['class'])}
<input type="{$type}"
    id="{$id}"
    name="{$full_name}"
    n:attr="
        (expand) $attr,
        readonly => $read_only ? readonly,
        disabled => $disabled ? disabled,
        required => $required ? required,
        maxlength => $max_length,
        pattern => $pattern,
        value => $value
    "
    n:class="$class !== null ? $class : form-control"
/>
