{var method => $method|upper}
{var form_method => in_array($method, ['GET', 'POST']) ? $method : 'POST'}
<form method="{$form_method|lower}" action="{$action}" n:attr="$attr"{if $multipart} enctype="multipart/form-data"{/if}>
    <input n:if="$form_method != $method" type="hidden" name="_method" value="{$method}" />
